<p>home works!</p>
<h2>{{name}}</h2>
<h3>{{age}}</h3>
<img [src]="imgSrc" height="400px">
<button  (click)="welcome()">say hello</button>
<input type="text" (keyup.r)= "welcome()">

<br><br>
<button (click)="changeClass()">change me</button> <br>
<h3 [style.color]="change?'red':'blue'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eos.</h3>

<h1 *ngFor="let x of person">{{x}}</h1>

<table class="table" *ngIf='all.length>0;else nodata'>
<thead>
    <th>index</th>
    <th>name</th>
    <th>age</th>
    <th>salary</th>
</thead>
<tbody>
    <tr *ngFor='let y of all index as i'>
        <td>{{i}}</td>
        <td>{{y.name}}</td>
        <td>{{y.age}}</td>
        <td>{{y.salary}}</td>
    </tr>
</tbody>
</table>

<ng-template #nodata>
    <h2 class="text-warning"> therse no data </h2>
</ng-template>